@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --dark-blue: hsl(236, 44%, 17%);
  --dark-blue-light: hsl(236, 44%, 25%);
  --very-dark-blue: hsl(235, 35%, 13%);
  --blue-gray: hsl(236, 15%, 60%);
  --light-blue-gray: hsl(236, 46%, 93%);
  --pink: hsl(300, 82%, 78%);
  --theme-color: hsl(0, 84%, 68%);
}

.container.red {
  --theme-color: hsl(0, 84%, 68%);
}

.container.green {
  --theme-color: hsl(136, 69%, 68%);
}

.container.blue {
  --theme-color: hsl(195, 69%, 68%);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-color: var(--dark-blue);
  color: var(--light-blue-gray);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  /* padding: 2%; */
}

.option-btn-container {
  padding: 0.5rem;
  background-color: var(--very-dark-blue);
  border-radius: 32px;
  display: flex;
  flex-wrap: nowrap;
}

.option-btn {
  padding: 0.75rem 1.25rem;
  border: none;
  border-radius: 24px;
  font-weight: bold;
  background-color: transparent;
  color: var(--blue-gray);
  cursor: pointer;
  transition: 0.4s;
}

.option-btn.active-option-btn {
  background-color: var(--theme-color);
  color: var(--dark-blue);
}

.timer-container {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-image: linear-gradient(
    to right bottom,
    #16172d,
    #16172d,
    #1d1f3d,
    #2a2e4d,
    #383b5e
  );
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 6px 6px 50px -1px rgba(0, 0, 0, 0.5),
    -6px -6px 50px -1px rgb(67, 70, 126);
}

.timer-content {
  width: 90%;
  height: 90%;
  background-color: var(--very-dark-blue);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 8px solid var(--theme-color);
  transition: 0.4s;
}

.timer-content h2 {
  font-size: 4rem;
  padding: 0.5rem;
}

.timer-content button {
  border: none;
  background-color: transparent;
  color: var(--light-blue-gray);
  padding: 0.5rem;
  letter-spacing: 10px;
  cursor: pointer;
}

#config {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#config img {
  width: 24px;
}

/* MODAL */

.hidden {
  display: none;
}

.settings-modal {
  max-width: 450px;
  padding: 1.5rem 1.5rem 3rem 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 24px;
  color: var(--dark-blue);
  z-index: 10;
}

.settings-modal .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.settings-modal .header #closeBtn {
  padding: 0.25rem;
  background-color: transparent;
  border: none;
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--blue-gray);
  cursor: pointer;
}

.settings-modal h4 {
  margin-bottom: 0.75rem;
}

.settings-modal form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings-modal form .input-container {
  width: 33.3%;
}

.settings-modal form label {
  margin-top: 0.5rem;
  font-size: 0.75rem;
  color: var(--blue-gray);
}

.settings-modal form input {
  max-width: 95%;
  padding: 0.5rem;
  height: 42px;
  border: none;
  border-radius: 8px;
  background-color: var(--light-blue-gray);
  font-weight: bold;
  color: var(--dark-blue);
}

.settings-modal form input:focus {
  outline: 1px solid var(--blue-gray);
}

.settings-modal #apply {
  position: absolute;
  bottom: -24px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--pink);
  color: white;
  font-weight: bold;
  padding: 0.75rem 1.5rem;
  border-radius: 24px;
  border: none;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

@media (max-width: 480px) {
  .settings-modal {
    width: 90%;
  }
  .settings-modal form label {
    font-size: 0.5rem;
  }
}

@media (max-width: 350px) {
  .container {
    width: 100%;
  }
  .timer-container {
    width: 90%;
  }

  .timer-content h2 {
    font-size: 3rem;
  }

  .option-btn {
    font-size: 0.5rem;
    padding: 0.5rem 0.75rem;
  }
}
